#my-slider {
    position: relative;
    width: 790px;
    height: 340px;
}
.slider-list ul {
    list-style-type: none;
    position: relative;
    padding: 0;
    margin: 0;
}
.slider-list__item,
.slider-list__item--selected{
    position: absolute;
    transition: opacity 1s;
    opacity: 0;
    text-align: center;
}
.slider-list__item--selected{
    opacity: 1;
}
/* 左右按钮 */
.slider-list__next,
.slider-list__previous{
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 30px;
    height:50px;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
    overflow: hidden;
    border: none;
    background: transparent;
    color: white;
    background: rgba(0,0,0,0.2);
    cursor: pointer;
    opacity: 0;
    transition: opacity .5s;
}
.slider-list__previous {
    left: 0;
} 
.slider-list__next {
    right: 0;
}
#my-slider:hover .slider-list__previous {
    opacity: 1;
}
#my-slider:hover .slider-list__next {
    opacity: 1;
}
.slider-list__previous:after {
    content: '<';
}
.slider-list__next:after {
    content: '>';
}
/* 下部控制小圆点 */
.slider-list__control{
    position: relative;
    display: table;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 12px;
    /* bottom: 30px; */
    top: 90%;
    margin: auto;
}
.slider-list__control-buttons,
.slider-list__control-buttons--selected{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: white;
    cursor: pointer;
}
.slider-list__control-buttons--selected {
    background-color: red;
}